<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenavLeft [mode]="mode" fixedInViewport="fixedInViewport"
        [opened]="isOpened">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavRight [mode]="mode" fixedInViewport="fixedInViewport"
        [opened]="isOpened" position="end">
        <app-profile-sidebar></app-profile-sidebar>
    </mat-sidenav>

    <mat-sidenav #sidenavCartRight [mode]="mode"
        fixedInViewport="fixedInViewport"
        [opened]="isOpened" position="end">
        <app-cart-sidebar></app-cart-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Header -->
        <header>
            <mat-toolbar style="background: none;" class="desktop">
                <img src="assets/images/logo.png" alt="" style="height: 64px;
                    margin-top: 13px;" [routerLink]="'/'">
                <!-- <div id="nav-logo">
                    <a [routerLink]="'/'" class="nav-logo-link"
                        style="background: transparent
                        url('assets/images/logo.png') no-repeat top left;
                        width:142px; height: 65px;"></a>
                </div> -->
                &nbsp;
                &nbsp;
                <nav id="nav-main">
                    <div class="nav-right">
                        <a class="nav-a" href="#">
                            <span>Hello </span>
                            Select Your address
                        </a>
                    </div>
                </nav>
                <div class="nav-fill" style="width: 1200px;">
                    <div id="nav-search">
                        <form>
                            <div class="nav-left">
                                <span class="nav-search-label">All</span>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <select id="nav-search-select">
                                    <option selected="selected" value="aps">All
                                        Departments</option>
                                    <option value="alexa-skills">Alexa Skills</option>
                                    <option value="instant-video">Amazon Video</option>
                                    <option value="Warehouse-deals">Amazon
                                        Warehouse</option>
                                    <option value="appliances">Appliances</option>
                                    <option value="mobile-apps">Apps &amp; Games</option>
                                    <option value="arts-crafts">Arts. Crafts
                                        &amp; .</option>
                                    <option value="automotive">Automotive Parts</option>
                                    <option value="baby-products">Baby</option>
                                    <option value="beauty">Beauty &amp; Personal
                                    </option>
                                    <option value="stipbooks">Books</option>
                                    <option value="popular">CDs &amp; Vinyl</option>
                                    <option value="mobile">Cell Phones &amp;
                                        Accessories</option>
                                    <option value="fashion">Clothing, Shoes
                                        &amp;
                                        Jewerly</option>
                                    <option value="fashion-women">&nbsp;&nbsp;&nbsp;Women</option>
                                    <option value="fashion-men">&nbsp;&nbsp;&nbsp;Men</option>
                                    <option value="fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
                                    <option value="fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
                                    <option value="fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
                                    <option value="collectibles">Collectibles</option>
                                    <option value="computers">Computers</option>
                                    <option value="courses">Courses</option>
                                    <option value="financial">Credit and Payment
                                    </option>
                                    <option value="digital-music">Digital Music</option>
                                    <option value="electronics">Electronics</option>
                                    <option value="gift-cards">Gift Cards</option>
                                    <option value="grocery">Grocery &amp;
                                        Gourmet Food</option>
                                    <option value="handmade">Handmade</option>
                                    <option value="hpc">Health, Household &amp;
                                        Baby</option>
                                    <option value="local-services">Home &amp;
                                        Business</option>
                                    <option value="garden">Garden</option>
                                    <option value="industrial">Industrial &amp;
                                        Science</option>
                                    <option value="digital-text">Kindle Store</option>
                                    <option value="fashion-luggage">Luggage</option>
                                    <option value="luxury-beauty">Luxyry Beauty</option>
                                    <option value="magazines">Magazine
                                        Subscriptions</option>
                                    <option value="movie-tv">Movies &amp; TV</option>
                                    <option value="mi">Musical Instruments</option>
                                    <option value="office-products">Office
                                        Products</option>
                                    <option value="lawngarden">Patio, Lawn $amp;
                                        Garden</option>
                                    <option value="pets">Pet Supplies</option>
                                    <option value="prime-exclusive">Prime
                                        Exclusive</option>
                                    <option value="pantry">Prime Pantry</option>
                                    <option value="software">Software</option>
                                    <option value="sporting">Sport &amp;
                                        Outdoors</option>
                                    <option value="tools">Tools &amp; Home
                                        Improvement</option>
                                    <option value="toys-and-games">Toys &amp;
                                        Games</option>
                                    <option value="vehicles">Vehicles</option>
                                    <option value="videogames">Video Games</option>
                                    <option value="wine">Wine</option>
                                </select>
                            </div>
                            <div class="nav-right">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="submit">
                            </div>
                            <div class="nav-fill">
                                <input type="text" autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div>
                <nav id="nav-main" style="width: 32%;">
                    <div class="nav-right">
                        <a class="nav-a" href="#">
                            <span>EN</span>
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>

                        <a class="nav-a" id="toggleButtonRight"
                            (click)="sidenavRight.toggle()">
                            <span>Hello. Sign In</span>Accounts &amp; Lists
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a class="nav-a" href="#">
                            <span>Returns & </span>
                            Orders
                        </a>
                        <!-- <a class="nav-a" href="#">Try Prime
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a> -->
                        <!-- <a class="nav-a cart" id="toggleButtonCartRight"
                            (click)="sidenavCartRight.toggle()">
                            <span>0</span><i class="fa fa-shopping-cart"
                                aria-hidden="true" style="font-size: 30px;"></i>
                            Cart
                        </a> -->
                        <a class="nav-a cart" [routerLink]="'/cart'">
                            <span>0</span><i class="fa fa-shopping-cart"
                                aria-hidden="true" style="font-size: 30px;"></i>
                            Cart
                        </a>
                    </div>
                </nav>
            </mat-toolbar>
            <mat-toolbar style="background: none;" class="mobile">
                <img src="assets/images/logo.png" class="logo" alt="">
                <span class="fill-remaining-space"></span>
                <nav id="nav-main">
                    <div class="nav-right">

                        <a class="nav-a" id="toggleButtonRight"
                            (click)="sidenavRight.toggle()">
                            <span>Hello. Sign In</span>Accounts &amp; Lists
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <a class="nav-a cart" href="#">
                            <span>0</span><i class="fa fa-shopping-cart"
                                aria-hidden="true" style="font-size: 30px;"></i>
                            Cart
                        </a>
                    </div>
                </nav>
            </mat-toolbar>
            <mat-toolbar style="background: #232f3e; height: 36px;margin-top:
                21px;">
                <nav id="nav-main">
                    <div class="nav-right">
                        <a class="nav-a" id="toggleButtonLeft"
                            (click)="sidenavLeft.toggle()">
                            <i class="fa fa-bars" aria-hidden="true"></i> All
                        </a>
                        <a class="nav-a" href="#">Today's Deals</a>
                        <a class="nav-a" href="#">Customer Service</a>
                        <a class="nav-a" href="#">New Releases</a>
                        <a class="nav-a" href="#">Mobiles</a>
                        <a class="nav-a" href="#">Best Sellers</a>
                        <a class="nav-a" href="#">Sell</a>
                    </div>
                </nav>
            </mat-toolbar>
            <br>
            <!-- <div id="hav-belt">
                <div class="nav-left">
                    <div id="nav-logo">
                        <a [routerLink]="'/'" class="nav-logo-link"></a>
                    </div>
                </div>
                <div class="nav-right">
                    <div id="nav-holiday">
                        <a href="#"></a>
                    </div>
                </div>
                <div class="nav-fill">
                    <div id="nav-search">
                        <form>
                            <div class="nav-left">
                                <span class="nav-search-label">All</span>
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                <select id="nav-search-select">
                                    <option selected="selected" value="aps">All
                                        Departments</option>
                                    <option value="alexa-skills">Alexa Skills</option>
                                    <option value="instant-video">Amazon Video</option>
                                    <option value="Warehouse-deals">Amazon
                                        Warehouse</option>
                                    <option value="appliances">Appliances</option>
                                    <option value="mobile-apps">Apps &amp; Games</option>
                                    <option value="arts-crafts">Arts. Crafts
                                        &amp; .</option>
                                    <option value="automotive">Automotive Parts</option>
                                    <option value="baby-products">Baby</option>
                                    <option value="beauty">Beauty &amp; Personal
                                    </option>
                                    <option value="stipbooks">Books</option>
                                    <option value="popular">CDs &amp; Vinyl</option>
                                    <option value="mobile">Cell Phones &amp;
                                        Accessories</option>
                                    <option value="fashion">Clothing, Shoes
                                        &amp;
                                        Jewerly</option>
                                    <option value="fashion-women">&nbsp;&nbsp;&nbsp;Women</option>
                                    <option value="fashion-men">&nbsp;&nbsp;&nbsp;Men</option>
                                    <option value="fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
                                    <option value="fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
                                    <option value="fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
                                    <option value="collectibles">Collectibles</option>
                                    <option value="computers">Computers</option>
                                    <option value="courses">Courses</option>
                                    <option value="financial">Credit and Payment
                                    </option>
                                    <option value="digital-music">Digital Music</option>
                                    <option value="electronics">Electronics</option>
                                    <option value="gift-cards">Gift Cards</option>
                                    <option value="grocery">Grocery &amp;
                                        Gourmet Food</option>
                                    <option value="handmade">Handmade</option>
                                    <option value="hpc">Health, Household &amp;
                                        Baby</option>
                                    <option value="local-services">Home &amp;
                                        Business</option>
                                    <option value="garden">Garden</option>
                                    <option value="industrial">Industrial &amp;
                                        Science</option>
                                    <option value="digital-text">Kindle Store</option>
                                    <option value="fashion-luggage">Luggage</option>
                                    <option value="luxury-beauty">Luxyry Beauty</option>
                                    <option value="magazines">Magazine
                                        Subscriptions</option>
                                    <option value="movie-tv">Movies &amp; TV</option>
                                    <option value="mi">Musical Instruments</option>
                                    <option value="office-products">Office
                                        Products</option>
                                    <option value="lawngarden">Patio, Lawn $amp;
                                        Garden</option>
                                    <option value="pets">Pet Supplies</option>
                                    <option value="prime-exclusive">Prime
                                        Exclusive</option>
                                    <option value="pantry">Prime Pantry</option>
                                    <option value="software">Software</option>
                                    <option value="sporting">Sport &amp;
                                        Outdoors</option>
                                    <option value="tools">Tools &amp; Home
                                        Improvement</option>
                                    <option value="toys-and-games">Toys &amp;
                                        Games</option>
                                    <option value="vehicles">Vehicles</option>
                                    <option value="videogames">Video Games</option>
                                    <option value="wine">Wine</option>
                                </select>
                            </div>
                            <div class="nav-right">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input type="submit">
                            </div>
                            <div class="nav-fill">
                                <input type="text" autocomplete="off">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <nav id="nav-main">
                <div class="nav-left">
                    <div class="nav-shop">
                        <button id="toggleButtonLeft"
                            (click)="sidenavLeft.toggle()"
                            mat-icon-button>
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="nav-right">
                    <a class="nav-a" href="#">
                        <span>EN</span>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>

                    <a class="nav-a" id="toggleButtonRight"
                        (click)="sidenavRight.toggle()">
                        <span>Hello. Sign In</span>Accounts &amp; Lists
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a" href="#">Orders</a>
                    <a class="nav-a" href="#">Try Prime
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <a class="nav-a cart" href="#">
                        <span>0</span>Cart
                    </a>
                </div>
                <div class="nav-fill">
                    <ul>
                        <li><a href="#">Your Amazon.com</a></li>
                        <li><a href="#">Today's Deals</a></li>
                        <li><a href="#">Gift Cards &amp; Registry</a></li>
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Help</a></li>
                    </ul>
                </div>
            </nav> -->
        </header>
        <router-outlet></router-outlet>
        <!-- footer -->
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>