/*********************************************
    			Call Bootstrap
*********************************************/

// @import url("bootstrap/bootstrap.min.css");
// @import url("bootstrap-override.css");
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/*********************************************
        		Theme Elements
*********************************************/

.gold {
    color: #ffbf00;
}

/*********************************************
					PRODUCTS
*********************************************/

.product {
    // border: 1px solid #dddddd;
    // height: 321px;
}

.product > img {
    // max-width: 230px;
}

.product-rating {
    font-size: 20px;
    margin-bottom: 25px;
}

.product-title {
    font-size: 20px;
}

.product-desc {
    font-size: 14px;
}

.product-price {
    font-size: 22px;
}

.product-stock {
    color: #74df00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info {
    margin-top: 50px;
}

/*********************************************
					VIEW
*********************************************/

.content-wrapper {
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid {
    margin: 0 auto;
}

.view-wrapper {
    float: right;
    margin-top: 25px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100%;
}

/*********************************************
				ITEM 
*********************************************/

.service1-items {
    padding: 0px 0 0px 0;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 550px;
    width: 100px;
}

.service1-item {
    height: 107px;
    width: 120px;
    display: block;
    float: left;
    position: relative;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.service1-item > img {
    max-height: 110px;
    max-width: 110px;
    opacity: 0.6;
    transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
}

.service1-item > img:hover {
    cursor: pointer;
    opacity: 1;
}

.service-image-left {
    // padding-right: 50px;
    overflow: hidden;
}

.service-image-right {
    // padding-left: 50px;
}

.service-image-left > center > img,
.service-image-right > center > img {
    min-height: 550px;
    max-height: 550px;
}


#item-display{
    width: 100%;
}