<header>
    <div id="hav-belt">
        <div class="nav-left">
            <div id="nav-logo">
                <a [routerLink]="'/'" class="nav-logo-link"></a>
            </div>
        </div>
        <div class="nav-right">
            <div id="nav-holiday">
                <a href="#"></a>
            </div>
        </div>
        <div class="nav-fill">
            <div id="nav-search">
                <form>
                    <div class="nav-left">
                        <span class="nav-search-label">All</span>
                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                        <select id="nav-search-select">
                            <option selected="selected" value="aps">All
                                Departments</option>
                            <option value="alexa-skills">Alexa Skills</option>
                            <option value="instant-video">Amazon Video</option>
                            <option value="Warehouse-deals">Amazon Warehouse</option>
                            <option value="appliances">Appliances</option>
                            <option value="mobile-apps">Apps &amp; Games</option>
                            <option value="arts-crafts">Arts. Crafts &amp; .</option>
                            <option value="automotive">Automotive Parts</option>
                            <option value="baby-products">Baby</option>
                            <option value="beauty">Beauty &amp; Personal
                            </option>
                            <option value="stipbooks">Books</option>
                            <option value="popular">CDs &amp; Vinyl</option>
                            <option value="mobile">Cell Phones &amp; Accessories</option>
                            <option value="fashion">Clothing, Shoes &amp;
                                Jewerly</option>
                            <option value="fashion-women">&nbsp;&nbsp;&nbsp;Women</option>
                            <option value="fashion-men">&nbsp;&nbsp;&nbsp;Men</option>
                            <option value="fashion-girls">&nbsp;&nbsp;&nbsp;Girls</option>
                            <option value="fashion-boys">&nbsp;&nbsp;&nbsp;Boys</option>
                            <option value="fashion-baby">&nbsp;&nbsp;&nbsp;Baby</option>
                            <option value="collectibles">Collectibles</option>
                            <option value="computers">Computers</option>
                            <option value="courses">Courses</option>
                            <option value="financial">Credit and Payment
                            </option>
                            <option value="digital-music">Digital Music</option>
                            <option value="electronics">Electronics</option>
                            <option value="gift-cards">Gift Cards</option>
                            <option value="grocery">Grocery &amp; Gourmet Food</option>
                            <option value="handmade">Handmade</option>
                            <option value="hpc">Health, Household &amp; Baby</option>
                            <option value="local-services">Home &amp; Business</option>
                            <option value="garden">Garden</option>
                            <option value="industrial">Industrial &amp; Science</option>
                            <option value="digital-text">Kindle Store</option>
                            <option value="fashion-luggage">Luggage</option>
                            <option value="luxury-beauty">Luxyry Beauty</option>
                            <option value="magazines">Magazine Subscriptions</option>
                            <option value="movie-tv">Movies &amp; TV</option>
                            <option value="mi">Musical Instruments</option>
                            <option value="office-products">Office Products</option>
                            <option value="lawngarden">Patio, Lawn $amp; Garden</option>
                            <option value="pets">Pet Supplies</option>
                            <option value="prime-exclusive">Prime Exclusive</option>
                            <option value="pantry">Prime Pantry</option>
                            <option value="software">Software</option>
                            <option value="sporting">Sport &amp; Outdoors</option>
                            <option value="tools">Tools &amp; Home Improvement</option>
                            <option value="toys-and-games">Toys &amp; Games</option>
                            <option value="vehicles">Vehicles</option>
                            <option value="videogames">Video Games</option>
                            <option value="wine">Wine</option>
                        </select>
                    </div>
                    <div class="nav-right">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <input type="submit">
                    </div>
                    <div class="nav-fill">
                        <input type="text" autocomplete="off">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav id="nav-main">
        <div class="nav-left">
            <div class="nav-shop">
                <a class="nav-a" href="#">
                    Departments
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <a class="nav-a" href="#">
                <span>EN</span>
                <i class="fa fa-globe" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>

            <a class="nav-a" href="#">
                <span>Hello. Sign In</span>Accounts &amp; Lists
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <a class="nav-a" href="#">Orders</a>
            <a class="nav-a" href="#">Try Prime
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <a class="nav-a cart" href="#">
                <span>0</span>Cart
            </a>
        </div>
        <div class="nav-fill">
            <ul>
                <li><a href="#">Your Amazon.com</a></li>
                <li><a href="#">Today's Deals</a></li>
                <li><a href="#">Gift Cards &amp; Registry</a></li>
                <li><a href="#">Sell</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </nav>
</header>