
<!-- bootstrap carousel -->
<section id="promo">
    <div id="promo-carousel" class="carousel slide"
        data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active"><img
                    src="assets/images/sliders/slider1.jpg"></div>
            <div class="item"><img
                    src="assets/images/sliders/slider2.jpg"></div>
            <div class="item"><img
                    src="assets/images/sliders/slider3.jpg"></div>
        </div>
        <!--controls-->
        <a class="left carousel-control" href="#promo-carousel"
            role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#promo-carousel"
            role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<br>
<br>
<section id="deals">
    <h4 style="font-size: 25px; text-align: center;">Deals</h4>
    <div id="deals-carousel" class="carousel slide"
        data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="row item active">
                <ng-container *ngFor="let element of productSlider">
                    <div class="col-md-2 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a [routerLink]="'/product/' + element.id">
                                    <img class="pic-1"
                                        [src]="element.images[0]">
                                    <img class="pic-2"
                                        [src]="element.images[1]">
                                </a>
                                <ul class="social">
                                    <li><a [routerLink]="'/product/' +
                                            element.id"
                                            data-tip="Quick View"><i
                                                class="fa
                                                fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i
                                                class="fa
                                                fa-shopping-bag"></i></a></li>
                                    <li><a [routerLink]="'/cart'" data-tip="Add
                                            to Cart"><i
                                                class="fa
                                                fa-shopping-cart"></i></a></li>
                                </ul>
                                <!-- <span class="product-new-label">New</span>
                                <span class="product-discount-label">{{element.discount}}%</span> -->
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a [routerLink]="'/product/' +
                                        element.id">{{element.name}}</a></h3>
                                <div class="price">
                                    ${{element.newPrice}}
                                    <span>${{element.oldPrice}}</span>
                                </div>
                                <a class="add-to-cart" href="">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row item">
                <ng-container *ngFor="let element of productSlider">
                    <div class="col-md-2 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a [routerLink]="'/product/' + element.id">
                                    <img class="pic-1"
                                        [src]="element.images[0]">
                                    <img class="pic-2"
                                        [src]="element.images[1]">
                                </a>
                                <ul class="social">
                                    <li><a [routerLink]="'/product/' +
                                            element.id"
                                            data-tip="Quick View"><i
                                                class="fa
                                                fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i
                                                class="fa
                                                fa-shopping-bag"></i></a></li>
                                    <li><a [routerLink]="'/cart'" data-tip="Add
                                            to Cart"><i
                                                class="fa
                                                fa-shopping-cart"></i></a></li>
                                </ul>
                                <!-- <span class="product-new-label">New</span>
                            <span class="product-discount-label">{{element.discount}}%</span> -->
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a [routerLink]="'/product/' +
                                        element.id">{{element.name}}</a></h3>
                                <div class="price">
                                    ${{element.newPrice}}
                                    <span>${{element.oldPrice}}</span>
                                </div>
                                <a class="add-to-cart" href="">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!--controls-->
            <a class="left carousel-control" href="#deals-carousel"
                role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"
                    aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#deals-carousel"
                role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"
                    aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<br><br>
<section id="sponsored">
    <h4 style="font-size: 25px; text-align: center;">Sponsored Items</h4>
    <div id="sponsored-carousel" class="carousel slide"
        data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="row item active">
                <ng-container *ngFor="let element of productSlider">
                    <div class="col-md-2 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a [routerLink]="'/product/' + element.id">
                                    <img class="pic-1"
                                        [src]="element.images[0]">
                                    <img class="pic-2"
                                        [src]="element.images[1]">
                                </a>
                                <ul class="social">
                                    <li><a [routerLink]="'/product/' +
                                            element.id"
                                            data-tip="Quick View"><i
                                                class="fa
                                                fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i
                                                class="fa
                                                fa-shopping-bag"></i></a></li>
                                    <li><a [routerLink]="'/cart'" data-tip="Add
                                            to Cart"><i
                                                class="fa
                                                fa-shopping-cart"></i></a></li>
                                </ul>
                                <!-- <span class="product-new-label">New</span>
                                <span class="product-discount-label">{{element.discount}}%</span> -->
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a [routerLink]="'/product/' +
                                        element.id">{{element.name}}</a></h3>
                                <div class="price">
                                    ${{element.newPrice}}
                                    <span>${{element.oldPrice}}</span>
                                </div>
                                <a class="add-to-cart" href="">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="row item">
                <ng-container *ngFor="let element of productSlider">
                    <div class="col-md-2 col-sm-6">
                        <div class="product-grid4">
                            <div class="product-image4">
                                <a [routerLink]="'/product/' + element.id">
                                    <img class="pic-1"
                                        [src]="element.images[0]">
                                    <img class="pic-2"
                                        [src]="element.images[1]">
                                </a>
                                <ul class="social">
                                    <li><a [routerLink]="'/product/' +
                                            element.id"
                                            data-tip="Quick View"><i
                                                class="fa
                                                fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i
                                                class="fa
                                                fa-shopping-bag"></i></a></li>
                                    <li><a [routerLink]="'/cart'" data-tip="Add
                                            to Cart"><i
                                                class="fa
                                                fa-shopping-cart"></i></a></li>
                                </ul>
                                <!-- <span class="product-new-label">New</span>
                            <span class="product-discount-label">{{element.discount}}%</span> -->
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a [routerLink]="'/product/' +
                                        element.id">{{element.name}}</a></h3>
                                <div class="price">
                                    ${{element.newPrice}}
                                    <span>${{element.oldPrice}}</span>
                                </div>
                                <a class="add-to-cart" href="">ADD TO CART</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
            <!--controls-->
            <a class="left carousel-control" href="#sponsored-carousel"
                role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"
                    aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#sponsored-carousel"
                role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"
                    aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>
<br>
<br>
<!--section: products-->
<section id="products">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Gaming Accessories</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/g1.png"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/g2.png"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/g3.png"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/g4.png"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">See More</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Shop Deals in Fashion</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/f1.jpg"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/f2.jpg"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/f3.jpg"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/f4.jpg"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">See all deals</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Easy updates for elevated spaces</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/b1.jpg"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/b2.gif"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/b3.jpg"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/b4.jpg"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">Shop home products</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col text-center" id="welcome">
                    <h2>Welcome</h2>
                    <p>Sign in for the best experience</p>
                    <button class="btn" [routerLink]="'/signin'">Sign in
                        securely</button>
                    <div class="footer">New to Amazon? <a>Start
                            here</a></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-3">
                <div class="col" id="amazon-basics-single">
                    <h2>Sell on Amazon with 1-Click Launch Support</h2>
                    <a href="#" class="thumbnail text-center"><img
                            src="assets/images/products/c1.png"
                            alt="Product 1"><span class="caption"></span></a>
                    <!-- <a href="#" class="thumbnail text-center"><img
                            src="assets/images/products/p1.jpg"
                            alt="Product 2"><span class="caption">Personal
                            Care</span></a>
                    <a href="#" class="thumbnail text-center"><img
                            src="assets/images/products/p1.jpg"
                            alt="Product 3"><span class="caption">Get fit at
                            home</span></a>
                    <a href="#" class="thumbnail text-center"><img
                            src="assets/images/products/p1.jpg"
                            alt="Product 4"><span class="caption">Computers</span></a> -->
                    <div class="footer"><a href="#">See all</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Refresh Your Space</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/a1.jpg"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/d1.jpeg"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/d2.jpg"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/p2.jpg"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">See all</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Health and personal care</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/e1.jpeg"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/e2.jpg"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/e3.jpg"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/h1.jpg"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">See more</a></div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="amazon-basics">
                    <h2>Beauty Pics</h2>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/h2.jpg"
                                alt="Product 1"><span class="caption">Home Décor</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/h3.jpg"
                                alt="Product 2"><span class="caption">Personal
                                Care</span></a>
                    </div>
                    <div class="col">
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/i1.jpg"
                                alt="Product 3"><span class="caption">Get fit at
                                home</span></a>
                        <a href="#" class="thumbnail text-center"><img
                                src="assets/images/products/i2.jpg"
                                alt="Product 4"><span class="caption">Computers</span></a>
                    </div>
                    <div class="footer"><a href="#">Explore all</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <ng-container *ngFor="let element of products">
        <div class="col-md-2 col-sm-6">
            <div class="product-grid4">
                <div class="product-image4">
                    <a [routerLink]="'/product/' + element.id">
                        <img class="pic-1"
                            [src]="element.images[0]">
                        <img class="pic-2"
                            [src]="element.images[1]">
                    </a>
                    <ul class="social">
                        <li><a [routerLink]="'/product/' + element.id"
                                data-tip="Quick View"><i
                                    class="fa
                                    fa-eye"></i></a></li>
                        <li><a href="#" data-tip="Add to Wishlist"><i
                                    class="fa
                                    fa-shopping-bag"></i></a></li>
                        <li><a [routerLink]="'/cart'" data-tip="Add to Cart"><i
                                    class="fa
                                    fa-shopping-cart"></i></a></li>
                    </ul>
                    <!-- <span class="product-new-label">New</span>
                    <span class="product-discount-label">{{element.discount}}%</span> -->
                </div>
                <div class="product-content">
                    <h3 class="title"><a [routerLink]="'/product/' +
                            element.id">{{element.name}}</a></h3>
                    <div class="price">
                        ${{element.newPrice}}
                        <span>${{element.oldPrice}}</span>
                    </div>
                    <a class="add-to-cart" href="">ADD TO CART</a>
                </div>
            </div>
        </div>
    </ng-container>
</div>
<div class="text-center">
    <button mat-raised-button color="primary" [routerLink]="'/products'"
        style="background: #232f3e;">View
        More</button>
</div>
<br>