.greyDiv {
  /* border: 5px outset red; */
  background-color: #e6e6e6;
  /* text-align: center; */
  text-align: left;
  /* display: block; */
}

.grey2Div {
  /* border: 5px outset red; */
  background-color: #aaa;
  /* text-align: center; */
  /* display: block; */
}

.grey3Div {
  /* border: 5px outset red; */
  background-color: #bbb;
  /* text-align: center; */
  /* display: block; */
}

.grey4Div {
  /* border: 5px outset red; */
  background-color: #ccc;
  /* text-align: center; */
  /* display: block; */
}

.myh1 {
  background-color: green;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 45%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}
