
<div class="header">
  <p>catalog works!</p>
</div>


<div class="row">

 <div class="column side greyDiv" >
 
	<h3> newsList</h3>
	<div  class="greyDiv"  >
		<ul>  
		  <li *ngFor="let product of newsList"  >{{product.name}} </li>
		 </ul> 
	</div>
 
 
	 <h3> coproductList1</h3>
	<div  class="greyDiv"  >
		<ul>  
		  <li *ngFor="let product of coproductList1"  >{{product.name}} </li>
		 </ul> 
	</div>
 </div>
 
 <div class="column middle greyDiv" >
	<h3> Product list</h3>
	
	<div class="row">
		<div *ngFor="let product of productList"  class="greyDiv"  >
		<ul>  
		  <li  >{{product.name}} </li>
		 </ul> 
		</div>
	</div>
	
 </div>
 
 <div class="column side greyDiv" >
 
	<h3> coproductList2</h3>
	<div  class="greyDiv"  >
	<ul>  
	  <li *ngFor="let product of coproductList2"  >{{product.name}} </li>
	 </ul> 
	</div>
 </div>

</div>
 

<div class="footer">

  	<h3> productBlogList</h3>
	<div  class="greyDiv"  >
	<ul>  
	  <li *ngFor="let product of productBlogList"  >{{product.name}} </li>
	 </ul> 
	</div>
	
	<h3> bottomList</h3>
	<div  class="greyDiv"  >
	<ul>  
	  <li *ngFor="let product of bottomList"  >{{product.name}} </li>
	 </ul> 
	</div>
	
	
</div>








