<mat-toolbar>
    Categories
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="primary"><mat-icon>add_circle</mat-icon>
        Add Category</button>
</mat-toolbar>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="subCategories">
        <th mat-header-cell *matHeaderCellDef> Sub Categories </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let item of element.subCategories">{{item.name}}</mat-chip>
            </mat-chip-list>
        </td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="subCategory">
        <th mat-header-cell *matHeaderCellDef style="width: 300px;"> Sub
            Category </th>
        <td mat-cell *matCellDef="let element">
            <div style="display: flex;">
                <mat-form-field style="width: 200px;">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput placeholder="Enter name">
                </mat-form-field>
                &nbsp;
                <mat-form-field style="width: 200px;">
                    <mat-label>Description</mat-label>
                    <input type="text" matInput placeholder="Enter description">
                </mat-form-field>
                <button mat-icon-button color="primary"><mat-icon>add_circle</mat-icon></button>
            </div>
        </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>View</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Edit</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>