<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap"
    rel="stylesheet">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="main-heading">Shopping Cart</div>
                <div class="table-cart">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img
                                                src="assets/images/products/p1.jpg"
                                                alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            Women's Black Top
                                            <br>G2356
                                        </div>
                                        <div class="price">
                                            $1,250.00
                                        </div>
                                    </div>
                                </td>
                                <td class="product-count">
                                    <form action="#" class="count-inlineflex">
                                        <div class="qtyminus">-</div>
                                        <input type="text" name="quantity"
                                            value="1" class="qty">
                                        <div class="qtyplus">+</div>
                                    </form>
                                </td>
                                <td>
                                    <div class="total">
                                        $6,250.00
                                    </div>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <img src="images/icons/delete.png"
                                            alt="" class="mCS_img_loaded">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img
                                                src="assets/images/products/p2.jpg"
                                                alt="" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            Women's Black Top
                                            <br>G2356
                                        </div>
                                        <div class="price">
                                            $1,250.00
                                        </div>
                                    </div>
                                </td>
                                <td class="product-count">
                                    <form action="#" class="count-inlineflex">
                                        <div class="qtyminus">-</div>
                                        <input type="text" name="quantity"
                                            value="1" class="qty">
                                        <div class="qtyplus">+</div>
                                    </form>
                                </td>
                                <td>
                                    <div class="total">
                                        $6,250.00
                                    </div>
                                </td>
                                <td>
                                    <a href="#" title="">
                                        <img src="images/icons/delete.png"
                                            alt="" class="mCS_img_loaded">
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="coupon-box">
                        <form action="#" method="get" accept-charset="utf-8">
                            <div class="coupon-input">
                                <input type="text" name="coupon code"
                                    placeholder="Coupon Code">
                                <button type="submit" class="round-black-btn">Apply
                                    Coupon</button>
                            </div>
                        </form>
                    </div> -->
                </div>
                <!-- /.table-cart -->
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="cart-totals">
                    <h3>Cart Totals</h3>
                    <form action="#" method="get" accept-charset="utf-8">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Subtotal</td>
                                    <td class="subtotal">$2,589.00</td>
                                </tr>
                                <tr>
                                    <td>Shipping</td>
                                    <td class="free-shipping">Free Shipping</td>
                                </tr>
                                <tr class="total-row">
                                    <td>Total</td>
                                    <td class="price-total">$1,591.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="btn-cart-totals">
                            <!-- <a href="#" class="update round-black-btn" title="">Update
                                Cart</a> -->
                            <a href="#" class="checkout round-black-btn"
                                title="">Proceed to Checkout</a>
                        </div>
                        <!-- /.btn-cart-totals -->
                    </form>
                    <!-- /form -->
                </div>
                <!-- /.cart-totals -->
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</div>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>