<br>

<mat-toolbar style="background: none;">
    1-48 of over 1,000 results for test
    <span class="fill-remaining-space"></span>
    <mat-form-field style="width: 100px;">
        <mat-label>Sort By</mat-label>
        <mat-select>

        </mat-select>
    </mat-form-field>
</mat-toolbar>
<hr>
<div class="row mb-5">
    <div class="col-md-3">
        <mat-card>
            <mat-toolbar style="background:#2d323e; border-top-left-radius:
                10px;
                border-top-right-radius: 10px; color: white; height: 40px;">
                Selections
            </mat-toolbar>
            <h3>Goods</h3>
            <h3>Cart2</h3>
            <h3>Selection3</h3>
            <h3>Selection4</h3>
        </mat-card>
        <mat-card>
            <mat-toolbar style="background:#2d323e; border-top-left-radius:
                10px;
                border-top-right-radius: 10px; color: white; height: 40px;">
                Advanced Search
            </mat-toolbar>
            <br>
            <label for="">Category 1</label>
            <select name="" id="" class="form-control">
                <option value="Not Chosen">Not Chosen</option>
            </select>
            <br>
            <label for="">Category 2</label>
            <select name="" id="" class="form-control">
                <option value="Not Chosen">Not Chosen</option>
            </select>
            <br>
            <label for="">Category 3</label>
            <select name="" id="" class="form-control">
                <option value="Not Chosen">Not Chosen</option>
            </select>
        </mat-card>
        <mat-card>
            <div class="card mb-4">
                <div class="card-header" style="font-weight: bold;font-size:
                    17px;">Departments</div>
                <div class="" style="font-size: 15px;">
                    <a href="#" class="" style="color: black;">Toys
                        and games</a>
                    <br>
                    <a href="#" class="" style="color: black;"> Clothing, Shoes
                        and
                        Jwelery</a><br>
                    <a href="#" class="" style="color: black;">
                        Home & kitchen</a><br>
                    <a href="#" class="" style="color: black;">Vitamines
                        & Minerals</a><br>
                    <a href="#" class="" style="color: black;">Electronics</a><br>
                    <a href="#" class="" style="color: black;">Sports
                        & Outdoors</a><br>
                    <a href="#" class="" style="color: black;">Books</a><br>
                </div>
            </div>
            <br>
            <br>
            <div class="card">
                <div class="card-header" style="font-weight: bold;font-size:
                    17px;">Customer
                    Review</div>
                <div class="card-body p-1">
                    <div class="card border-0 b-3">
                        <div class="card-body p-0 collapse show"
                            id="collapseExample1">
                            <div>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span> & Up
                                <br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span> & Up
                                <br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span> & Up
                                <br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span> & Up
                                <br>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span> & Up
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="card border-0 b-3">
                        <div class="card-header p-2 bg-white"
                            data-toggle="collapse"
                            data-target="#collapseExample2"
                            aria-expanded="false">
                            <p class="m-0 h6" style="font-weight:
                                bold;font-size:
                                17px;">Brands</p>
                        </div>
                        <div class="card-body p-0 collapse show"
                            id="collapseExample2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Llyod</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">LG</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Carrier</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Panasonic</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Dalkin</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Voltas</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Whirlpool</label>
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <div class="card border-0 b-3">
                        <div class="card-header p-2 bg-white"
                            data-toggle="collapse"
                            data-target="#collapseExample2"
                            aria-expanded="false">
                            <p class="m-0 h6" style="font-weight:
                                bold;font-size:
                                17px;">Amazon Fashion</p>
                        </div>
                        <div class="card-body p-0 collapse show"
                            id="collapseExample2">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Our Brands</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Premium Brands</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox"
                                    class="custom-control-input"
                                    id="customCheck1">
                                <label class="custom-control-label"
                                    for="customCheck1">Top Brands</label>
                            </div>
                        </div>
                    </div>
                    <br><br>

                    <div class="card border-0 b-3">
                        <div class="card-header p-2 bg-white"
                            data-toggle="collapse"
                            data-target="#collapseExample4"
                            aria-expanded="false">
                            <p class="m-0 h6" style="font-weight:
                                bold;font-size:
                                17px;">Toy & Game Price</p>
                        </div>
                        <div class="card-body p collapse show"
                            id="collapseExample4">
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Min</label>
                                    <input class="form-control" placeholder="$0"
                                        type="number">
                                </div>
                                <div class="form-group text-right col-md-4">
                                    <label>Max</label>
                                    <input class="form-control"
                                        placeholder="$1,0000" type="number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer">
                    <button type="button" class="btn btn-block btn-primary">Filter</button>
                </div> -->
            </div>
            <br>
            <br>
            <br>
            <br>
        </mat-card>
    </div>
    <div class="col-md-9">
        <div class="row">
            <ng-container *ngFor="let element of products">
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid4">
                        <div class="product-image4">
                            <a [routerLink]="'/product/' + element.id">
                                <img class="pic-1"
                                    [src]="element.images[0]">
                                <img class="pic-2"
                                    [src]="element.images[1]">
                            </a>
                            <ul class="social">
                                <li><a [routerLink]="'/product/' +
                                        element.id"
                                        data-tip="Quick View"><i
                                            class="fa
                                            fa-eye"></i></a></li>
                                <li><a href="#" data-tip="Add to Wishlist"><i
                                            class="fa
                                            fa-shopping-bag"></i></a></li>
                                <li><a [routerLink]="'/cart'" data-tip="Add
                                        to
                                        Cart"><i
                                            class="fa
                                            fa-shopping-cart"></i></a></li>
                            </ul>
                            <!-- <span class="product-new-label">New</span>
                            <span class="product-discount-label">{{element.discount}}%</span> -->
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a [routerLink]="'/product/' +
                                    element.id">{{element.name}}</a></h3>
                            <div class="price">
                                ${{element.newPrice}}
                                <span>${{element.oldPrice}}</span>
                            </div>
                            <a class="add-to-cart" href="">ADD TO CART</a>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>