/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: inherit;
}

.fill-remaining-space {
    flex: 1 0;
}

.wrapper {
    padding: 10px;
}

mat-form-field {
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: none;
}

table {
    width: 100%;
}

//Custom Scroll Start

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

//Custom Scroll End

.bg-none {
    background: none;
}

.breadcrumb-heading {
    font-size: 30px;
}

.breadcrumb-sub-heading {
    font-size: 14px;
    color: gray;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

button:focus {
    outline: none;
}
